$app-color-red: #fc4747;
$app-color-dark-blue: #10141e;
$app-color-semi-dark-blue: #161d2f;
$app-color-greyish-blue: #5a698f;
$app-color-white: #ffffff;

$app-heading-h2: 32px;
$app-heading-h3: 24px;
$app-heading-h4: 24px;
$app-heading-h5: 18px;
$app-text-m: 15px;
$app-text-s: 13px;
