@import "./../../_variables.scss";

#search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 2rem;

  label {
    padding-right: 1.5rem;
    padding-top: 6px;
  }

  input {
    padding: 0px 0px 14px;
    width: calc(100% - 56px);
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $app-color-dark-blue;
    font-size: $app-heading-h2;
    font-family: "Outfit Light";
    color: $app-color-white;
    caret-color: $app-color-red;
  }
  input:focus-visible {
    outline: none;
    outline-offset: 0;
    border-bottom: 1px solid $app-color-greyish-blue;
  }
  input:hover,
  label:hover {
    cursor: pointer;
  }
}
