@import "./../../variables";
#account-page-container {
  margin-right: 2rem;
  flex-grow: 1;
}

#account-logo {
  margin-top: 3rem;
  text-align: center;
}
#account-form-container {
  margin: 5rem auto 0rem;
  padding: 2rem;
  max-width: 400px;
  background-color: $app-color-semi-dark-blue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  input:hover,
  label:hover {
    cursor: pointer;
  }
  button {
    margin-top: 1rem;
    background-color: $app-color-red;
    border: none;
    border-radius: 6px;
    padding: 14px 0px;
    height: auto;
    font-size: $app-text-m;
    font-family: "Outfit Light";
    letter-spacing: 0px;
    margin-bottom: 1.5rem;
    color: $app-color-white;

    &:hover {
      cursor: pointer;
      background-color: $app-color-white;
      color: $app-color-semi-dark-blue;
    }
  }

  #logged-msg {
    text-align: center;
  }
  h2 {
    margin: 0;
  }

  p {
    margin: 0;
    text-align: center;

    button {
      appearance: none;
      border: none;
      background-color: transparent;
      color: $app-color-red;
      margin: 0 0 0 0.5rem;
      padding: 0;
      padding-inline: 0;
      font-size: $app-text-m;
      &:hover {
        cursor: pointer;
        background-color: transparent;
        color: $app-color-red;
        text-decoration: underline;
      }
    }
  }
}

#account-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 40px;

  div {
    height: 37px;
    position: relative;
    margin-bottom: 1.5rem;
    padding: 0;
    background-color: transparent;

    input {
      width: calc(100% - 18px);
      padding-left: 1rem;
      padding-bottom: 1rem;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $app-color-greyish-blue;
      background-color: transparent;
      color: $app-color-white;
      caret-color: $app-color-red;
      font-size: $app-text-m;
      font-family: "Outfit Light";
      letter-spacing: 0px;
    }
    input:focus-visible {
      outline: none;
      outline-offset: 0;
      border-bottom: 1px solid $app-color-white;
    }

    .error-msg {
      position: absolute;
      right: 16px;
      bottom: 16px;
      color: $app-color-red;
    }
  }
}

@media only screen and (max-width: 768px) {
  #account-page-container {
    margin-right: 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  #account-page-container {
    margin-right: 0px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #account-form-container {
    margin-top: 3.5rem;
    padding: 1.5rem;
    flex-grow: 1;

    h2.account-form-header {
      font-size: $app-heading-h2;
    }
  }
}
