@import "./_variables.scss";

body {
  margin: 0;
  padding: 2rem;
  font-family: "Outfit Light", "Outfit Medium", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $app-color-dark-blue;
  color: $app-color-white;
  box-sizing: content-box;
}

@font-face {
  font-family: "Outfit Light";
  src: url("./fonts/Outfit-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit Medium";
  src: url("./fonts/Outfit-Medium.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-size: $app-heading-h2;
  font-family: "Outfit Light";
}

h3 {
  font-size: $app-heading-h3;
  font-family: "Outfit Light";
}

h4 {
  font-size: $app-heading-h4;
  font-family: "Outfit Medium";
}

h5 {
  font-size: $app-heading-h5;
  font-family: "Outfit Medium";
  margin: 0;
}

p {
  font-size: $app-text-m;
  font-family: "Outfit Light";
}

.small {
  font-size: $app-text-s;
  font-family: "Outfit Light";
}
